<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.VersoinMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.springboot.model.Versoin">
        <id column="id" property="id"/>
        <result column="versoin" property="versoin"/>
        <result column="coinTypeVersion" property="coinTypeVersion"/>
        <result column="system" property="system"/>
        <result column="isforce" property="isforce"/>
        <result column="description" property="description"/>
        <result column="url" property="url"/>
        <result column="packageSize" property="packageSize"/>
        <result column="updateDate" property="updateDate"/>
        <result column="content" property="content"/>
        <result column="updateUrl" property="updateUrl"/>
    </resultMap>

    <select id="searchVersoinInfoWithSystem" resultType="com.example.springboot.model.Versoin" parameterType="String">
      SELECT id,coinTypeVersion,versoin,system,isforce,description,url,packageSize,updateDate,content,updateUrl FROM tb_versoin WHERE system = #{system} limit 1
    </select>

    <update id="updateCoinTypeVersion">
		update tb_versoin v
		set v.coinTypeVersion = v.coinTypeVersion+1
	</update>

    <update id="updateVersoin" parameterType="com.example.springboot.model.Versoin">
        update tb_versoin v
        set
        <if test="coinTypeVersion != null">
            coinTypeVersion = #{coinTypeVersion},
        </if>
        <if test="versoin != null">
            versoin = #{versoin},
        </if>
        <if test="isforce != null">
            isforce = #{isforce},
        </if>
        <if test="url != null">
            url = #{url},
        </if>
        <if test="packageSize != null">
            packageSize = #{packageSize},
        </if>
        <if test="updateUrl != null">
            updateUrl = #{updateUrl},
        </if>
        updateDate = CURRENT_TIMESTAMP
        where ID = #{id}
    </update>

    <select id="selectVersoinList" resultType="com.example.springboot.dto.request.VersoinRequest">
        select v.id,v.coinTypeVersion,v.versoin,v.system,v.isforce,v.url,v.packageSize,v.updateDate,v.updateUrl,
        l.description ,l.content,l.locale
        from tb_versoin v left join tb_versoin_language l on v.id = l.versoinId
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*)
                from tb_versoin v left join tb_versoin_language l on v.id = l.versoinId
    </select>
</mapper>
