<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zx.springboot.mapper.VersoinMapper">

    <select id="searchVersoinInfoWithSystem" resultType="com.zx.springboot.model.Version" parameterType="java.lang.String">
      SELECT id,coinTypeVersion,version,system,isforce,description,url,packageSize,updateDate,content,updateUrl FROM tb_versoin WHERE system = #{system} limit 1
    </select>

    <update id="updateCoinTypeVersion">
		update tb_versoin v
		set v.coinTypeVersion = v.coinTypeVersion+1
	</update>

    <update id="updateVersoin" parameterType="com.zx.springboot.model.Version">
        update tb_versoin v
        set
        <if test="coinTypeVersion != null">
            coinTypeVersion = #{coinTypeVersion},
        </if>
        <if test="version != null">
            version = #{version},
        </if>
        <if test="isforce != null">
            isforce = #{isforce},
        </if>
        <if test="url != null">
            url = #{url},
        </if>
        <if test="packageSize != null">
            packageSize = #{packageSize},
        </if>
        <if test="updateUrl != null">
            updateUrl = #{updateUrl},
        </if>
        updateDate = CURRENT_TIMESTAMP
        where ID = #{id}
    </update>

    <select id="selectVersoinList" resultType="com.zx.springboot.dto.request.VersoinRequest">
        select v.id,v.coinTypeVersion,v.version,v.system,v.isforce,v.url,v.packageSize,v.updateDate,v.updateUrl,
        l.description ,l.content,l.locale
        from tb_versoin v left join tb_versoin_language l on v.id = l.versoinId
        <if test="pageIndex != null and pageSize != null">
            limit #{pageIndex},#{pageSize}
        </if>
    </select>

    <select id="selectTotalCount" resultType="java.lang.Integer">
        select count(*)
                from tb_versoin v left join tb_versoin_language l on v.id = l.versoinId
    </select>
</mapper>
